<a class="resource-list-item" href="<%= control_path(control) %>">
  <div class="resource-list-item__handle"><%= control.handle %></div>
  <div class="resource-list-item__main">
    <div class="resource-list-item__name"><%= control.name %></div>
    <div class="resource-list-item__description"><%= control.description %></div>
  </div>

  
  <div class="resource-list-item__scope">
    <% control.scopes.each do |scope| %>
      <div class="tag">
        <span class="tag__key"><%= scope.name %></span><span class="tag__value"><%= scope.assets.count %></span>
      </div>
    <% end %>
  </div>
</a>
