<%= form_with(model: control, local: true) do |form| %>
  <% if control.errors.any? %>
    <div id="error_explanation" class="error-box">
      <h2 class="error-box__title"><%= pluralize(control.errors.count, "error") %> prohibited this control from being saved:</h2>

      <ul class="error-box__list">
        <% control.errors.full_messages.each do |message| %>
          <li class="error-box__list-item"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="stack-v">
    <div class="form-group">
      <%= label_tag :name, 'Name', class: 'form-group__label' %>
      <%= form.text_field :name, class: 'form-input' %>
    </div>

    <div>
      <%= label_tag :handle, 'Handle', class: 'form-group__label' %>
      <%= form.text_field :handle, class: 'form-input' %>
    </div>

    <div>
      <%= label_tag :description, 'Description', class: 'form-group__label' %>
      <%= form.text_area :description, class: 'form-input' %>
    </div>

    <div class="form-group__actions">
      <%= form.submit class: 'btn-primary form-group__action_item' %>
      <%= link_to 'Cancel', controls_path, class: 'btn-ghost form-group__action_item' %>    
    </div>
  </div>
<% end %>
