<p id="notice"><%= notice %></p>

<h3><%= @control.handle %></h3>
<h1><%= @control.name %></h1>

<p><%= @control.description %>

<%= link_to 'Edit', edit_control_path(@control) %> |
<%= link_to 'Back', controls_path %>
