<!DOCTYPE html>
<html>
  <head>
    <title>Auditbox</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-gray-900 text-gray-200">
    <div class="main mx-auto">      
      <%= yield %>
    </div>
  </body>
</html>
  